[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "PS3EYEDriver"]
	path = PS3EYEDriver
	url = https://github.com/evgeny-merzlikin/PS3EYEDriver.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv.git
